[Unit]
Description=ISTER uWSGI service

[Service]
Type=notify
ExecStart=/usr/bin/uwsgi --ini /var/www/ister-cloud-init-svc/icis_uwsgi.ini \
  -H /var/www/ister-cloud-init-svc/.venv/
Restart=always
KillSignal=SIGQUIT
NotifyAccess=all

[Install]
WantedBy=multi-user.target
